# URL of ollama service. path is the model
TVPARTY_OLLAMA="http://localhost:11434/llama3.2:latest"

# URL of your qtorrent service
TVPARTY_QTORRENT="http://user:password@localhost:8080"

# URL of your plex server
TVPARTY_PLEX="http://localhost:32400"

# get this from `npm run plex_login username password`
TVPARTY_PLEX_TOKEN="YOURTOKEN"

# tell qtorrent where to download things
# these should be your plex library locations
TVPARTY_DOWNLOAD_SERIES=/media/video/tv
TVPARTY_DOWNLOAD_MOVIE=/media/video/movies
